<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ronke/Documents/Food_ng">
        <classes>
            <class name="Login.LoginTests">
                <methods>
                    <include name="testHome"/>
                    <include name="testLogin"/>
                    <include name="testHousehold"/>
                    <include name="testHomeAppliances"/>
                    <include name="testHomeAppl"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>